
h1 {
  color: $color-font-titles;
  font-family: $font-family-titles;
  margin-left: 5px;
}

p {
  text-align: justify;
}

.show-menu {
  background-color: $primary-color;
  display: none;
  text-align: right;
  animation-name: opacityMenu;
  animation-duration: 2s;
}

.open-menu {
  margin-top: 0;
}

@keyframes opacityMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (min-width: $mobile-size) {
  .show-menu, {
    display: none;
  }
}
