
header {
  position: relative;
}

h1 {
  color: $color-font-titles;
  font-family: $font-family-titles;
  margin-left: 5px;
}

p {
  text-align: justify;
}

.show-menu {
  background-color: $primary-color;
  position: absolute;
  top: 100%;
  right: 0%;
  text-align: right;

}

.open-menu {
  margin-top: 0;
}
