* {
  box-sizing: border-box;
}

header {
  position: relative;
}

h1 {
  color: $color-font-titles;
  font-family: $font-family-titles;
  margin-left: 5px;
}

p {
  text-align: justify;
}

.menu-mobile {
  background-color: $primary-color;
  position: absolute;
  top: 100%;
  right: 0%;
  text-align: right;

}

.menu-mobile ul {
  margin-top: 0;
}
